.EditNote {
  label {
    textarea {
      background-color: var(--bkgd-input);
      width: 100%;
      
      padding: .25rem;
      margin-bottom: .25rem;
  
      color: var(--text-textarea);
      font-family: Arial, Helvetica, sans-serif;
      font-size: .9rem;     
    }

    button + button {
      margin-left: .5rem;
    }
  }
}