@use '../../styles/scss/' as *;

.Home {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  & section {
    width: 100%;
    min-width: 20rem;
    max-width: 30rem;

    h2 {
      @extend %h2-text-styles;
    }
  }
}