:root {
  --max-width: 1100px;
  --border-radius: 12px;

  /* fades */
  --fade-heavy: 0.25;
  --fade-half: 0.5;
  --fade-mild: 0.75;

  /* colors */
  --blue-dark: hsl(223, 54%, 27%);
  --blue-dark-faded: hsl(223, 54%, 27%, var(--fade-mild));
  --blue-darkest: hsl(223, 54%, 20%);
  --blue-light: hsl(227, 68%, 86%);
  --blue-light-faded: hsl(227, 68%, 86%, var(--fade-mild));
  --green-dark: hsl(120, 8%, 25%);
  --pink: hsl(0, 81%, 88%);
  --pink-dark: hsl(160, 87%, 46%);
  --red-dark: hsl(0, 50%, 27%);
  --red-darkest: hsl(348, 79%, 18%);
  --white: hsl(0, 0%, 100%);
  --white-dark: hsl(0, 0%, 90%);

  /* backgrounds */
  --bkgd-clr-main: var(--blue-dark);
  --bkgd-clr-main-faded: var(--blue-dark-faded);
  --bkgd-clr-accent: var(--red-dark);

  --bkgd-btn-enabled: var(--bkgd-clr-main);
  --bkgd-btn-disabled: var(--bkgd-clr-main-faded);
  --bkgd-btn-edit: var(--blue-light);

  --bkgd-game-entry: var(--blue-darkest);
  --bkgd-game-list: var(--green-dark);
  --bkgd-nav-link: var(--red-darkest);
  --bkgd-input: var(--white-dark);

  /* borders */
  --bdr-game-entry: var(--white);
  --bdr-rad-btn: 0.25rem;

  /* padding */
  --pad-btn: 0.1rem 0.3rem;

  /* text */
  --text-clr-main: var(--blue-light);
  --text-clr-main-faded: var(--blue-light-faded);
  --text-clr-accent: var(--pink);

  --text-btn-enabled: var(--text-clr-main);
  --text-btn-disabled: var(--text-clr-main-faded);
  --text-btn-edit: var(--blue-dark);

  --text-nav: var(--pink-dark);

  --text-textarea: var(--red-darkest);

  /* game entry and game list spacing and widths */
  --gap-game-entry: 1rem;
  --max-width-game-entry: calc(var(--gap-game-entry) * 25);
  --padding-game-list: var(--gap-game-entry);

  /* test */
  --test-outline: 1px solid yellow;
}

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bkgd-clr-main);
  color: var(--text-clr-main);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
