.GamesList {
  background-color: var(--green-dark);
  border-radius: 0.5rem;
  list-style-type: none;

  margin-inline: auto;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  @media (min-width: 30rem) {
    max-width: 27rem;
  }

  @media (min-width: 60rem) {
    max-width: 53rem;
  }

  @media (min-width: 90rem) {
    max-width: 79rem;
  }
}