.GamesList {
  background-color: var(--green-dark);
  border-radius: 0.5rem;
  list-style-type: none;

  margin-inline: auto;
  padding: var(--padding-game-list);

  min-width: 15rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-game-entry);

  @media (min-width: 30rem) {
    max-width: calc(var(--max-width-game-entry) + var(--padding-game-list) * 2);
  }

  @media (min-width: 60rem) {
    max-width: calc(var(--max-width-game-entry) * 2 + var(--padding-game-list) * 2 + var(--gap-game-entry));
  }

  @media (min-width: 90rem) {
    max-width: calc(var(--max-width-game-entry) * 3 + var(--padding-game-list) * 2 + var(--gap-game-entry) * 2);
  }
}