.GamesList {
  background-color: var(--green-dark);
  border-radius: .25rem;
  list-style-type: none;

  max-width: 25rem;
  min-width: 12rem;

  margin-block: 1rem;
  margin-inline: auto;
  padding: 1rem;


  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}