.AllGames {
  padding: 1rem;

  background-color: lightcoral;

  @media (min-width: 40rem) {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;

    section {
        margin-inline: 0;
    }
  } 
}