.Nav {

  ul {
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  ul li {
    background-color: rgb(92, 11, 27);
    border-radius: .5rem;
    list-style-type: none;
    padding: .25rem .5rem;
  }

  a {
    color: hsl(160, 87%, 46%);
    font-weight: 500;
  }
}