.GameEntry {
  border: solid 1px white;
  border-radius: .5rem;
  background-color: hsl(223, 54%, 20%);

  padding: .25rem .5rem;
  min-width: 15rem;

  label {
    div:first-child {
      display: flex;
      flex-direction: row;
    }

    div:not(:first-child) {
      margin-left: 1rem;
      line-height: 1.5rem;
    }
  }

  div {

    input {
      margin-right: .25rem;
    }
  
    input:checked + span {
      color: grey;
      text-decoration: line-through;
    }  

    h3 {
      font-weight: 500;
    }
  }

  p {
    span {
      text-decoration: underline;
    }
  }
}