.GameEntry {
  border: solid 1px var(--bdr-game-entry);
  border-radius: .5rem;
  background-color: var(--bkgd-game-entry);

  padding: .25rem .5rem;

  width: 100%;
  max-width: 25rem;

  & > * > * {
    outline: 1px dashed yellow;
  }
  
  label {
    display: flex;
    flex-direction: row;
    min-width: fit-content;
    width: 50%;

    & > input {
      margin-right: .25rem;
    }
  
    & > input:checked + h3 {
      opacity: 75%;
    }

    & > h3 {
      font-weight: 500;
    }
  }
  
  & > span {
    margin-left: 1rem;
    line-height: 1.5rem;
  }

  & > div {
    margin-left: 1rem;

    & > span {
      text-decoration: underline;
    }

    button {
      background-color: var(--bkgd-btn-edit);
      color: var(--text-btn-edit);

      border-radius: var(--bdr-rad-btn);
      margin-top: .25rem;
      padding: var(--pad-btn);
    }
  }
}