.GameEntry {
  background-color: var(--bkgd-game-entry);
  border: solid 1px var(--bdr-game-entry);
  border-radius: 0.5rem;

  padding: 0.5rem;

  min-width: 12rem;
  width: 100%;
  max-width: var(--max-width-game-entry);
  
  // first child
  & > label {
    display: flex;
    flex-direction: row;
    
    & > input {
      margin-right: 0.25rem;
    }
  
    & > input:checked + h3 {
      opacity: 75%;
    }

    & > h3 {
      font-weight: 500;
    }
  }

  // second child
  & > div {
    margin-inline: 1rem 0.5rem;
    
    & > div:first-child {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  
      & > p {
        line-height: 1.5rem;
        min-width: fit-content;
      }
    }
  }
}
